html {
  font-family: Georgia, serif;
}

.masthead {
  background-color: #5ebfbf;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

.nav a:hover {
  color: #5ebfbf;
  background-color: #fff;
  text-decoration: none;
}

header [type="checkbox"] + label::before {
  top: -10em;
}

.nav-opened {
  display: none;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

.nav-d {
  display: none;
}

.adopt-section {
  background-color: #f2dcc9;
}

hr {
  border: 3px solid #5ebfbf;
}

.footer {
  background-color: #5EBFBF;
}
